:root {
  --orange-color: #ce6b03;
  --orange-ligt-color: #ff8403;
  --blue-color: #072151;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/* MENU */

.menu {
  position: fixed;
  z-index: 2;
  height: 9rem;
  min-width: 100vw;
  border-bottom: 0.1rem solid #e5e5e5;
  background-color: #ffffff;
}

.menu-content {
  height: 100%;
  margin: 0 auto;
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul a {
  display: block;
  color: #000000;
  padding: 2rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  position: relative;
}

.logo a:hover {
  cursor: pointer;
}

.menu-content nav a::after {
  content: "";
  position: absolute;
  bottom: -1.6rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background-color: var(--orange-color);
  transition: all 300ms ease-in-out;
}

.menu-content nav a:hover::after {
  width: 100%;
  left: 0;
}

.page {
  min-height: 100vh;
  padding: 15rem 10rem;
  margin: 0 auto;
}

.page-all {
  min-height: 100vh;
  margin: 0 auto;
}

/* HOME */

.video-intro {
  max-width: 100vw;
}

.video-intro video {
  width: 100%;
}

.home-content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  position: relative;
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 900;
}

.text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  gap: 2rem;

  font-size: 3rem;
  font-weight: bold;
  color: #e5e5e5;
  padding-left: 5rem;
  max-width: 90rem;
}

.text-content a {
  text-decoration: none;
  color: var(--orange-color);
  background-color: #ffffff;
  width: 40rem;
  padding: 2rem 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-size: 2rem;
}

.text-content a:hover {
  cursor: pointer;
  background-color: var(--orange-color);
  color: #e5e5e5;
  transition: all 300ms ease-in-out;
}

/* ABOUT */

.about-content {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  position: relative;
  align-items: end;
}

.text-about-container {
  padding: 15rem 5rem;
  -webkit-transform: skew(8deg) translateX(140px);
  -ms-transform: skew(8deg) translateX(140px);
  transform: skew(8deg) translateX(140px);
  left: 0;
}

.text-about {
  position: relative;
  top: -0.3rem;
  background-color: var(--orange-color);
  color: #e5e5e5;
  -webkit-transform: skew(-8deg) translateX(-70px);
  -ms-transform: skew(-8deg) translateX(-70px);
  transform: skew(-8deg) translateX(-70px);
  left: 0;
}



.text-about-content {
  position: relative;
  max-width: 65rem;
}

.text-about-container h2 {
  text-transform: uppercase;
  font-size: 3rem;
}

hr {
  width: 7rem;
  height: 0.2rem;
  border: none;
  background-color: #e9ecef;
  border-radius: 0.1rem;
  margin: 3rem 0;
}

.container-more-about-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.content-more-about-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-more-about-text .title {
  font-weight: bold;
  font-size: 3rem;
}

.content-more-about-text p {
  font-size: 1.5rem;
}

.about-more {
  padding: 7rem 2rem;
  gap: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #363636;
  font-style: italic;
}

.about-more hr {
  background-color: var(--orange-color);
  margin: 2rem 0;
}

.about-more h3 {
  color: var(--blue-color);
  font-style: normal;
  font-size: 2.5rem;
}

.about-more-container {
  max-width: 50rem;
}

.text-about-content p {
  padding-top: 1rem;
}

/* ABOUT - VEHICLES */
.vehicles {
  padding: 15rem 10rem;
  background-color: #f8f9fa;
}
.title-all h2 {
  font-size: 3rem;
  color: var(--blue-color);
  text-transform: uppercase;
}

.title-all hr {
  background-color: var(--orange-color);
  margin-bottom: 10rem;
}

/* ABOUT- VAHICLES SLIDER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  position: relative;
  padding: 2rem;
}

.swiper-slide img {
  width: 100%;
}

.swiper-wrapper {
  gap: 2rem;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}

/* SERVICES */

.services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
  color: #333533;
}

.img-container {
  width: 48rem;
  height: 30rem;
  border-radius: .5rem;
}

.service-about img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.service-about {
  padding-bottom: 8rem;
}

.service-about h3{
  font-size: 2.2rem;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
}

.service-about p {
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 2rem;
  text-align: justify;
  height: 13rem;
  width: 48rem;
}

.service-about a {
  background-color: var(--blue-color);
  color: #ffffff;
  width: 30rem;
  padding: 2rem 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.service-about a:hover {
  cursor: pointer;
  background-color: var(--orange-color);
  color: #e5e5e5;
  transition: all 300ms ease-in-out;
}

.part-wrapper {
  align-items: center;
}

#partners .part-title hr{
  margin: 1rem;
}

.time-line {
  background-color: #f8f9fa;
  color: #e5e5e5;
  width: 100%;
  height: 40rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  font-size: 1.6rem;
}

.ball-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ball {
  width: 13rem;
  height: 13rem;
  background-color: #f77f00;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.time-line h4 {
  padding-top: 1.5rem;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--blue-color);
}

.time-line p {
  padding-top: .7rem;
  max-width: 25rem;
  text-align: center;
  color:#463f3a;
}

/* CONTACT */

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.logo-more h3{
  color: var(--orange-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 2rem;
}

.contact-about a {
  color:#333533;
  font-size: 1.3rem;
  font-weight: bold;
  padding:  0 .5rem;
}

.contact-icons a:hover svg {
  fill: #f77f00;
  transition: all 300ms ease-in-out;
}

.contact-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.region {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: var(--orange-color);
  font-size: 1.3rem;
  font-weight: bold;
  padding:  .7rem .5rem;
  text-transform: uppercase;
}

.map-regions h2{
  padding-bottom: 5rem;
}

.map-logo {
  padding-right: 4rem;
}

footer {
  margin-top: -10rem;
  background-color: var(--blue-color);
  color: #e5e5e5;
  width: 100%;
  padding:  6rem 15rem ;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.3rem;
}

.icons-fot {
  display: flex;
  gap: 1.4rem;
}

.icons-fot svg {
  opacity: 50%;
}

#partners .swiper-slide {
  padding: 0 13rem;
}